<div class="container">
  <div class="row">
    <div class="mx-auto text-center">
      <br>
      <h1>About</h1> 
      <br>
      <p>
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様から、お年寄りの方までお召し上がりいただけるよう<br>
        様々なバリエーションをご用意しております<br>
        また、全国へ、発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
        是非ご注文ください。
      </p>
      <br> 
      <%= image_tag "tarte.jpeg", size:"720x400" %>
    </div>
  </div>
</div>