<div class = "container">
  <br>
  <div class = "row"> 
    <div class="offset-md-2"></div>
      <div class="col-md-8 cover-img" style="background-image:url(assets/cake.jpeg);">
        <div class="cover-text text-center">
				  <p style="color: #fff; background-color: rgba(0, 0, 0, 0.5);">
				    ようこそ、ながのCAKEへ！<br> 
            このサイトは、ケーキ販売のECサイトになります<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
				  </p>
			</div> 
    </div>
    <div class="offset-md-2"></div> 
    <div class="col-md-2">
      <br>
      <h2>新着商品</h2>
    </div>
  </div>
</div>
  
 <br>
<div class = "container">
  <div class = "row"> 
    <div class="col-md-2" style="background-color:red;">Red</div> 
    <div class="offset-md-1"></div>
    <div class="col-md-2" style="background-color:blue;">Blue</div>
    <div class="offset-md-1"></div>
    <div class="col-md-2" style="background-color:red;">Red</div>
    <div class="offset-md-1"></div> 
    <div class="col-md-2" style="background-color:blue;">Blue</div>
  </div>
  <div class="row">
    <div class="offset-md-8"></div>
    <div class="offset-md-2"></div>
    <div class="col-md-2">
      <%= link_to "全ての商品を見る>", items_path %>
    </div> 
  </div>
</div>
    