<div class = "container">
  <br>
  <div class = "row">
    <div class="img-top"></div>
    <div class="offset-md-2"></div>
      <div class="col-md-8">
        <div class="text-box">
				  <p class="text-top">
				    ようこそ、ながのCAKEへ！</p>
				  <p>
            このサイトは、ケーキ販売のECサイトになります<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
				  </p>
			  </div>
      </div>
    <div class="offset-md-2"></div>
    <div class="col-md-2">
      <br>
      <h2 class="text">新着商品</h2>
    </div>
  </div>
</div>

 <br>
<div class = "container">
  <div class = "row">
    <div class="col-md-2" style="background-color:red;">Red</div>
    <div class="offset-md-1"></div>
    <div class="col-md-2" style="background-color:blue;">Blue</div>
    <div class="offset-md-1"></div>
    <div class="col-md-2" style="background-color:red;">Red</div>
    <div class="offset-md-1"></div>
    <div class="col-md-2" style="background-color:blue;">Blue</div>
  </div>
  <div class="row">
    <div class="offset-md-8"></div>
    <div class="offset-md-2"></div>
    <div class="col-md-2">
    <div class="text">
      <%= link_to "全ての商品を見る>", items_path %>
    </div>
    </div>
  </div>
</div>
