<div class="container">
  <div class="row offset-1 mt-3">
    <h2 class="px-3 bg-light">注文履歴一覧</h2>
  </div>
  <div class="row">
    <div class="col-10 mx-auto">
      <br>
      <table class="table">
        <thead>
          <tr>
            <% @orders.each do |order| %>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to order.created_at, admin_order_path(order.member_id) %></td>
            <td><%= order.shipping_name %></td>
            <td><%= order_item.quantity %></td>
            <td><%= order.status %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
