/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cover-img {
	height: 400px;
	display: table;
	width: 100%;
	background-size: cover;
}

.cover-text {
	display: table-cell;
	vertical-align: middle;
  text-align: center;
}

td>span,th>span {
  -ms-writing-mode : lr-tb;
  writing-mode : horizontal-tb;
  white-space : nowrap;
}

.img-top{
	background-image: image-url('top.JPG');
	width: 100%;
	height: 550px;
	background-size: cover;
	background-position: bottom;
	object-fit: cover;
}

.text-box{
	font-size: large;
	text-align: center;
	margin-top: 30px;
	font-family: 'arial unicode ms', 'ヒラギノ角ゴ ProN W6', 'ヒラギノ角ゴ StdN W8', 'ヒラギノ丸ゴ ProN W4';
}

.text{
	font-family: 'arial unicode ms', 'ヒラギノ角ゴ ProN W6', 'ヒラギノ角ゴ StdN W8', 'ヒラギノ丸ゴ ProN W4';
}

.text-top{
	font-size: x-large;
}

.text-about{
	font-size: large;
}
